.bocc-header {
  height: 740px;
  background: url(/images/bg.png) center bottom no-repeat;
  position: relative;
}

#star {
  background: black;
  width: 100%;
  height: 740px;
  position: absolute;
}

.header-nav {
  max-width: 1170px;
  padding: 0 20px;
  margin: auto;
}

.header-right {
  float: right;
}

.header-right a {
  color: #575757;
  height: 40px;
  padding: 10px;
}

@media screen and (max-width: 350px) {
  .header-nav {
    padding: 0 10px;
  }
  .header-right a {
    padding: 10px 4px;
  }
}

.header-right a:hover {
  color: #ccc;
}

.bocc-slogan {
  margin-top: 180px;
  font-size: 40px;
  font-weight: 400;
  color: #eee;
  text-align: center;
}

.bocc-slogan p {
  display: inline-block;
  margin: 0 20px;
}

@media screen and (max-width: 670px) {
  .bocc-slogan p {
    display: block;
    margin-bottom: 14px;
  }
}

.bocc-slogan p>span {
  color: yellow;
}

.bocc-action {
  margin-top: 20px;
  text-align: center;
}

.bocc-action>button {
  width: 140px;
  padding: 5px 20px;
  background: #434343;
  color: #eee;
  border: 2px solid #434343;
  font-size: 14px;
  margin-top: 140px;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 26px;
}

@media screen and (max-width: 670px) {
  .bocc-action>button {
    margin-top: 80px;
  }
}

.bocc-action>button:hover {
  background: #434343;
  color: #eee;
  cursor: pointer;
}

.bocc-content {
  padding: 60px 0;
  text-align: center;
}

.bocc-content-wrapper {
  text-align: center;
}

.bocc-content-item {
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 20px 10px;
  height: 150px;
  color: #aeaeae;
  background-color: #fff;
  cursor: pointer;
}

.bocc-content-item:hover {
  box-shadow: 2px 2px 15px #eee;
}

.bocc-content-item .item-detail {
  display: inline-block;
  margin-left: 25px;
  text-align: left;
  vertical-align: text-bottom;
}

.bocc-content-item .item-detail>p {
  margin-bottom: 5px;
}

.bocc-content-item .loan-btn {
  padding: 2px 3px;
  color: #aeaeae;
  background: white;
  border: 1px solid #bdbdbd;
  font-size: 12px;
}

/*.bocc-content-item .loan-btn:hover {
  color: #fff;
  background: #2c2c2c;
  cursor: pointer;
}*/

.bocc-content-item .item-days {
  display: inline-block;
}

.bocc-content-item .item-days .days-num {
  color: #333;
  font-family: cursive;
  font-size: 100px;
}

.bocc-content-info {
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 20px 10px;
  height: 250px;
  color: #aeaeae;
  background-color: #fff;
}

.bocc-content-loan {
  margin: 30px 0 0 0;
  padding: 10px 30px;
  width: 600px;
  height: 180px;
  text-align: left;
  font-size: 13px;
}

.bocc-content-loan>p {
  margin: 15px 0;
}

.bocc-content-loan>p>span {
  color: #333;
}

.bocc-loan-contain {
  padding: 20px 10%;
}

.bocc-wallet-wrapper {
  margin: 8px;
  margin-bottom: 30px;
  width: 200px;
  height: 170px;
  position: relative;
  display: inline-block;
}

.bocc-wallet-wrapper .semi-circle {
  width: 10px;
  height: 5px;
  position: absolute;
  z-index: 11;
  bottom: 60px;
  left: 95px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.bocc-wallet-wrapper .wrapper1 {
  width: 200px;
  height: 65px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: #b32e25;
  background-image: linear-gradient(#A22015, #78140d);
}

.bocc-wallet-wrapper .wrapper2 {
  background-color: #350705;
  width: 200px;
  height: 90px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.bocc-wallet-wrapper .wrapper3 {
  background-color: #fff;
  width: 170px;
  height: 110px;
  border-radius: 3px;
  position: absolute;
  bottom: 65px;
  left: 15px;
  z-index: 5;
  box-shadow: 1px 1px 8px #999;
}

.bocc-wallet-wrapper .bocc-loan-btn {
  position: absolute;
  z-index: 12;
  border: none;
  width: 160px;
  height: 37px;
  border-radius: 15px;
  color: #b32e25;
  background-color: #dac38c;
  background-image: linear-gradient(#f7e8c4, #c7b37c);
  bottom: 14px;
  left: 20px;
  font-size: 18px;
}

.bocc-wallet-wrapper .bocc-loan-btn.bocc-loan-btn-en {
  font-size: 12px;
}

.bocc-wallet-wrapper .bocc-loan-btn:hover {
  cursor: pointer;
}

.bocc-loan-time {
  width: 80px;
  height: 60px;
  margin: 0 auto 5px auto;
  color: #b32e25;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.bocc-loan-time.bocc-loan-time-en {
  width: 100px;
}

.bocc-loan-time span.days-count {
  font-size: 50px;
}

.bocc-rate {
  color: #aeaeae;
  font-size: 15px;
}

.bocc-rate.bocc-rate-en {
  margin-top: 14px;
}

.bocc-rate span {
  color: #b32e25;
}

.bocc-loan-address .addr-wrapper {
  padding: 5px 0;
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.bocc-loan-address .addr-wrapper .addr-label {
  display: inline-block;
  background: #010101;
  border-radius: 8px;
  width: 120px;
  height: 20px;
  color: #a9a9a9;
  font-size: 12px;
  padding-top: 3px;
  text-align: center;
}

.bocc-loan-address .addr-wrapper .addr-val {
  color: #313131;
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}

.bocc-loan-info-wrapper {
  margin-top: 40px;
}

.bocc-panel {
  background-color: #f2f2f2;
  display: inline-block;
  text-align: left;
  padding: 10px 20px;
  color: #b7b7b7;
}

.no-wallet {
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #b7b7b7;
  margin-left: auto;
  margin-right: auto;
}

.no-wallet p {
  line-height: 26px;
}

.bocc-loan-info-wrapper p {
  line-height: 30px;
}

.bocc-loan-info-wrapper p>span {
  color: #333;
}

#loan-give {
  background-color: #f3dfb3;
  border: none;
  width: 130px;
  height: 28px;
  border-radius: 8px;
  color: #d40808;
}

#loan-give:hover {
  cursor: pointer;
}

#bocc-no-metamask {
  width: 80%;
  padding: 20px 30px;
  max-width: 700px;
  box-sizing: border-box;
}

#bocc-no-metamask a.help {
  font-size: 20px;
}

.bocc-network {
  background-color: #141414;
}

.bocc-network-title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 40px 10px;
}

.bocc-network-imgs {
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
}

.bocc-network .img {
  vertical-align: bottom;
  display: inline-block;
  font-size: 0;
  background-color: white;
  height: 100%;
  padding: 40px 10px;
  line-height: 300px;
  margin: 8px;
}

.bocc-network img {
  vertical-align: middle;
  height: 250px;
}

@media screen and (max-width: 578px) {
  .bocc-network .img {
    width: 90%
  }
  .bocc-network img {
    height: auto;
    width: 80%;
  }
}
